<div id="staff">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="pb1 text-xs-center">CascadiaFEST Staff</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-10 col-sm-12 offset-xs-1 offset-sm-0">
        <div class="row">
          <%- partial("../staff/_card", public.staff._data.producer.carter) %>
          <%- partial("../staff/_card", public.staff._data.producer.tracy) %>
          <%- partial("../staff/_card", public.staff._data.director.katie) %>
          <%- partial("../staff/_card", public.staff._data.director.alex) %>
          <%- partial("../staff/_card", public.staff._data.director.ira) %>
          <%- partial("../staff/_card", public.staff._data.coordinators.dave) %>
          <%- partial("../staff/_card", public.staff._data.coordinators.zach) %>
          <%- partial("../staff/_card", public.staff._data.coordinators.ruth) %>
          <%- partial("../staff/_card", public.staff._data.coordinators.farrin) %>
        </div>
      </div>
    </div>

  </div>
</div>
