<div id="schedule" class="day-schedule browser-schedule container-fluid">

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <header>
        <h2>Schedule</h2>
        <h3>brought to you by</h3>
      </header>

      <a href="<%- public.sponsors._data.formidable.url %>">
        <img src="<%- public.sponsors._data.formidable.logo %>" class="track-sponsor" />
      </a>
    </div>
  </div>


  <table class="table table-hover table-bordered">
    <tbody>
      <tr class="bg-success">
        <td class="time">8:00am</td>
        <td>
          <p>
            <span class="uppercase">Breakfast &amp; Registration (8:30am)</span>
          </p>
          <p>
            Registration:
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
              Semiahmoo Ballroom
            </button>

            Breakfast:
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
              Deck
            </button>
          </p>
        </td>

      </tr>

      <tr class="bg-info">
        <td class="time">9:15am</td>
        <td>
          <span class="uppercase">Opening Ceremony</span>
          <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
            Semiahmoo Ballroom
          </button>
        </td>
      </tr>

      <tr>
        <td class="time">9:30am</td>
        <td>
          <div class="row">
            <div class="col-xs-12 col-sm-7">
              <h4>
                Talks
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
                  Semiahmoo Ballroom
                </button>
              </h4>
              <ul class="list-unstyled">
                <%- partial('../_partials/schedule-talk.ejs', {id: 'rebecca-murphey', day: 'browser'}) %>
                <%- partial('../_partials/schedule-talk.ejs', {id: 'nolan-lawson', day: 'browser'}) %>
                <%- partial('../_partials/schedule-talk.ejs', {id: 'seth-samuel', day: 'browser'}) %>
              </ul>
            </div>

            <div class="col-xs-12 col-sm-5">
              <div class="workshop">
                <h4>
                  Workshop
                  <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
                    San Juan Ballroom
                  </button>
                </h4>

                <p>
                  NodeJS Application Performance & Troubleshooting 101
                  <a class="btn btn-success btn-sm" href="https://ti.to/event-loop/cascadiafest-2016/with/bxd-guch-jo">RSVP</a>
                </p>

                <a href="<%- public.sponsors._data.newrelic.url %>" class="schedule-sponsor-logo">
                  <img src="<%- public.sponsors._data.newrelic.logo %>" class="max-width" />
                </a>
              </div>
            </div>
          </div>
        </td>
      </tr>

      <tr class="bg-info">
        <td class="time">11:00am</td>
        <td>
          <span class="uppercase">Coffee Break</span>
        </td>
      </tr>

      <tr>
        <td class="time">11:20am</td>
        <td>
          <div class="row">
            <div class="col-xs-12 col-sm-7">
              <h4>
                Talks
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
                  Semiahmoo Ballroom
                </button>
              </h4>
              <ul class="list-unstyled">
                <%- partial('../_partials/schedule-talk.ejs', {id: 'liz-abinante', day: 'browser'}) %>
                <%- partial('../_partials/schedule-talk.ejs', {id: 'noah-adams', day: 'browser'}) %>
                <%- partial('../_partials/schedule-talk.ejs', {id: 'tara-sdlf', day: 'browser'}) %>
              </ul>
            </div>

            <div class="col-xs-12 col-sm-5">
              <div class="workshop">
                <h4>
                  Workshop
                  <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
                    San Juan Ballroom
                  </button>
                </h4>
                <p>
                  NodeJS Application Performance &amp; Troubleshooting 101 (continued)
                </p>
              </div>
            </div>
          </div>
        </td>
      </tr>

      <tr class="bg-success">
        <td class="time">12:45pm</td>
        <td>
          <span class="uppercase">Lunch</span>
          <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
            Deck
          </button>
        </td>
      </tr>

      <tr class="">
        <td class="time">2:15pm</td>
        <td>
          <div class="row">
            <div class="col-xs-12 col-sm-7">
              <h4>
                Talks
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
                  Semiahmoo Ballroom
                </button>
              </h4>

              <ul class="list-unstyled">
                <%- partial('../_partials/schedule-talk.ejs', {id: 'rachel-white', day: 'browser'}) %>
                <%- partial('../_partials/schedule-talk.ejs', {id: 'thomas-wilburn', day: 'browser'}) %>
                <%- partial('../_partials/schedule-talk.ejs', {id: 'sarah-meyer', day: 'browser'}) %>
              </ul>
            </div>

            <div class="col-xs-12 col-sm-5 pull-right">
              <div class="workshop">
                <h4>
                  Workshop
                  <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
                    San Juan Ballroom
                  </button>
                </h4>

                <p>
                  Outthink the Conference Experience
                  <a class="btn btn-success btn-sm" href="https://ti.to/event-loop/cascadiafest-2016/with/eso5lyaw4x4">RSVP</a>
                </p>

                <a href="<%- public.sponsors._data.ibmdesign.url %>" class="schedule-sponsor-logo">
                  <img src="<%- public.sponsors._data.ibmdesign.logo %>" class="max-height" />
                </a>
              </div>
            </div>
          </div>
        </td>
      </tr>

      <tr class="bg-info">
        <td class="time">3:40pm</td>
        <td>
          Break
        </td>
      </tr>

      <tr>
        <td class="time">4:00pm</td>
        <td>
          <div class="row">
            <div class="col-xs-12 col-sm-7">
              <h4>
                Talks
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
                  Semiahmoo Ballroom
                </button>
              </h4>

              <ul class="list-unstyled">
                <%- partial('../_partials/schedule-talk.ejs', {id: 'dale-bustad', day: 'browser'}) %>
                <%- partial('../_partials/schedule-talk.ejs', {id: 'marcy-sutton', day: 'browser'}) %>
              </ul>
            </div>

            <div class="col-xs-12 col-sm-5">
              <div class="workshop">
                <h4>
                  Workshop
                  <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
                    San Juan Ballroom
                  </button>
                </h4>
                <p>
                  Outthink the Conference Experience (continued)
                </p>
              </div>
            </div>
          </div>
        </td>
      </tr>

      <tr class="bg-success">
        <td class="time">6:00pm</td>
        <td>
          <span class="uppercase">Dinner &amp; Party</span> with
          <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
            Deck
          </button>

          <a href="<%- public.sponsors._data.newrelic.url %>" class="schedule-sponsor-logo">
            <img src="<%- public.sponsors._data.newrelic.logo %>" class="max-height" />
          </a>
        </td>
      </tr>
      <!-- <tr class="bg-info">
        <td class="time">10:00pm</td>
        <td>
          Mystery Movie Night

          <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
            Discovery Theater
          </button>
        </td>
      </tr> -->
    </tbody>
  </table>

  <div>
    <h1>Friends and Family Track</h1>
    <h2>Whale watching | 12:15 PM - 4:30 PM</h2>

    <p>$105 Adults, $80 Teens, $60 12 &amp; Under</p>

    <a href="https://ti.to/event-loop/cascadiafest-2016/" class="btn btn-success">Buy Tickets</a>

    <p>Meet at the Front Desk</p>
  </div>
</div>
