<div class="col-sm-6 col-md-3 col-xl-2">

  <div class="card">
    <img class="card-img-top circle" src="<%- avatar %>" alt="<%- name %>">
    <div class="card-block">
      <h5 class="card-title"><%- name %></h5>
      <% if(title) { %><h6><%- title %></h6><% } %>
      <p class="card-text">
        <% if(contact.email) { %>
          <a href="mailto:<%- contact.email %>"><i class="fa fa-envelope-o"></i> <%- contact.email %></a>
          <br>
        <% } %>

        <% if(contact.twitter) { %>
          <a href="//twitter.com/<%- contact.twitter %>"><i class="fa fa-twitter"></i> <%- contact.twitter %></a>
          <br>
        <% } %>

        <% if(contact.github) { %>
          <a href="//github.com/<%- contact.github %>"><i class="fa fa-github"></i> <%- contact.github %></a>
        <% } %>
      </p>
    </div>
  </div>

</div>
