<div id="schedule" class="day-schedule css-schedule container-fluid">

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <header>
        <h2>Schedule</h2>
        <h3>brought to you by</h3>
      </header>
      <a href="<%- public.sponsors._data.simple.url %>" >
        <img src="<%- public.sponsors._data.simple.logo %>" class="track-sponsor" />
      </a>
    </div>
  </div>


  <table class="table table-hover table-bordered">
    <tbody>
      <tr class="bg-success">
        <td class="time">8:00am</td>
        <td>
          <p>
            <span class="uppercase">Breakfast &amp; Registration (8:30am)</span>
          </p>
          <p>
            Registration:
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
              Semiahmoo Ballroom
            </button>

            Breakfast:
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
              Deck
            </button>
          </p>
        </td>

      </tr>

      <tr class="bg-info">
        <td class="time">9:15am</td>
        <td>
          <span class="uppercase">Opening Ceremony</span>
          <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
            Semiahmoo Ballroom
          </button>
        </td>
      </tr>

      <tr>
        <td class="time">9:30am</td>
        <td>
          <div class="row">
            <div class="col-xs-12 col-sm-7">
              <h4>
                Talks
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
                  Semiahmoo Ballroom
                </button>
              </h4>
              <ul class="list-unstyled">
                <%- partial('../_partials/schedule-talk.ejs', {id: 'natalya-shelburne', day: 'css'}) %>
                <%- partial('../_partials/schedule-talk.ejs', {id: 'justin-mcdowell', day: 'css'}) %>
                <%- partial('../_partials/schedule-talk.ejs', {id: 'miriam-suzanne', day: 'css'}) %>
              </ul>
            </div>

            <div class="col-xs-12 col-sm-5">
              <div class="workshop">
                <h4>
                  Workshop
                  <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
                    San Juan Ballroom
                  </button>
                </h4>

                <p>
                  Single Page App &amp; Front-end JavaScript Performance &amp; Troubleshoot 101
                </p>

                <a href="<%- public.sponsors._data.newrelic.url %>" class="schedule-sponsor-logo" >
                  <img src="<%- public.sponsors._data.newrelic.logo %>" class="max-width" />
                </a>
              </div>
            </div>
          </div>
        </td>
      </tr>

      <tr class="bg-info">
        <td class="time">11:00am</td>
        <td>
          <span class="uppercase">Coffee Break</span>
        </td>
      </tr>

      <tr>
        <td class="time">11:20am</td>
        <td>
          <div class="row">
            <div class="col-xs-12 col-sm-7">
              <h4>
                Talks
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
                  Semiahmoo Ballroom
                </button>
              </h4>
              <ul class="list-unstyled">
                <%- partial('../_partials/schedule-talk.ejs', {id: 'mike-kivikoski', day: 'css'}) %>
                <%- partial('../_partials/schedule-talk.ejs', {id: 'clarissa-peterson', day: 'css'}) %>
                <%- partial('../_partials/schedule-talk.ejs', {id: 'stephanie-hobson', day: 'css'}) %>
              </ul>
            </div>

            <div class="col-xs-12 col-sm-5">
              <div class="workshop">
                <h4>
                  Workshop
                  <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
                    San Juan Ballroom
                  </button>
                </h4>
                <p>
                  Single Page App &amp; Front-end JavaScript Performance &amp; Troubleshoot 101 (continued)
                </p>
              </div>
            </div>
          </div>
        </td>
      </tr>

      <tr class="bg-success">
        <td class="time">12:45pm</td>
        <td>
          <span class="uppercase">Lunch</span>
          <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
            Deck
          </button>
        </td>
      </tr>

      <tr class="">
        <td class="time">2:15pm</td>
        <td>
          <div class="row">
            <div class="col-xs-12 col-sm-7">
              <h4>
                Talks
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
                  Semiahmoo Ballroom
                </button>
              </h4>

              <ul class="list-unstyled">
                <%- partial('../_partials/schedule-talk.ejs', {id: 'alice-bartlett', day: 'css'}) %>
                <%- partial('../_partials/schedule-talk.ejs', {id: 'james-steinbach', day: 'css'}) %>
                <%- partial('../_partials/schedule-talk.ejs', {id: 'tyler-sticka', day: 'css'}) %>
              </ul>
            </div>

            <div class="col-xs-12 col-sm-5 pull-right">
              <div class="workshop">
                <h4>
                  Workshop
                  <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
                    San Juan Ballroom
                  </button>
                </h4>

                <p>
                  From Zero to Awesome API-driven Apps in 9 Easy Steps
                </p>

                <a href="<%- public.sponsors._data.strongloop.url %>" class="schedule-sponsor-logo" >
                  <img src="<%- public.sponsors._data.strongloop.logo %>" class="max-height" />
                </a>
              </div>
            </div>
          </div>
        </td>
      </tr>

      <tr class="bg-info">
        <td class="time">3:40pm</td>
        <td>
          Break
        </td>
      </tr>

      <tr>
        <td class="time">4:00pm</td>
        <td>
          <div class="row">
            <div class="col-xs-12 col-sm-7">
              <h4>
                Talks
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
                  Semiahmoo Ballroom
                </button>
              </h4>

              <ul class="list-unstyled">
                <%- partial('../_partials/schedule-talk.ejs', {id: 'lourdes-montano', day: 'css'}) %>
                <%- partial('../_partials/schedule-talk.ejs', {id: 'gregor-martynus', day: 'css'}) %>
                <%- partial('../_partials/schedule-talk.ejs', {id: 'alan-stearns', day: 'css'}) %>
              </ul>
            </div>

            <div class="col-xs-12 col-sm-5">
              <div class="workshop">
                <h4>
                  Workshop
                  <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
                    San Juan Ballroom
                  </button>
                </h4>
                <p>
                  From Zero to Awesome API-driven Apps in 9 Easy Steps (continued)
                </p>
              </div>
            </div>
          </div>
        </td>
      </tr>

      <tr class="bg-success">
        <td class="time">6:00pm</td>
        <td>
          <span class="uppercase">Dinner &amp; Party</span> with
          <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
            Deck
          </button>
          <br>
          <br>
          <a href="<%- public.sponsors._data.ibmdesign.url %>" class="schedule-sponsor-logo break-wrap" >
            <img src="<%- public.sponsors._data.ibmdesign.logo %>" alt="Sponsored by <%- public.sponsors._data.ibmdesign.name %>" class="max-width" height="70" />
          </a>
        </td>
      </tr>
      <!-- <tr class="bg-info">
        <td class="time">10:00pm</td>
        <td>
          Mystery Movie Night

          <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#semiahmoo-map">
            Discovery Theater
          </button>
        </td>
      </tr> -->
    </tbody>
  </table>

</div>
