<%- partial("_partials/home-header") -%>

<main id="teaser">

  <%- partial("_partials/latest-news") -%>
  <%- partial("_partials/venue") -%>

  <div id="preview" class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-md-4 text-md-center theme css">
          <h3>August 3rd</h3>
          <h2>CascadiaCSS</h2>
        </div>
        <div class="col-xs-12 col-md-4 text-md-center theme browser">
          <h3>August 4th</h3>
          <h2>CascadiaJS Browser Day</h2>
        </div>
        <div class="col-xs-12 col-md-4 text-md-center theme node">
          <h3>August 5th</h3>
          <h2>CascadiaJS Node Day</h2>
        </div>
      </div>
    </div>
  </div>


  <%//- partial("_partials/speaker") we can speakers whenever we like. %>

  <div class="small-trees"></div>

  <div id="connect">
    <div class="container">
      <div class="row">
        <%- partial("_partials/connect") %>
      </div>
    </div>
  </div>

  <div class="small-trees reversed"></div>

  <%- partial("_partials/staff") %>

</main>
