<% for(var fest in public.speakers._data) { %>
  <div class="col-sm-6 col-md-3">
    <div class="card <%- fest %>">
      <% for(var person in public.speakers._data[fest]) {
        var speaker = public.speakers._data[fest][person];
      %>
        <img class="card-img-top" src="<%- speaker.avatar %>" alt="<%- speaker.name %>">
        <div class="card-block">
        <h5 class="card-title"><a href="/speakers/<%- person %>/"><%- speaker.name %></a></h5>
        <% if(speaker.contact) {
           var contact = speaker.contact;
          %>
          <p class="card-text">
            <% if(contact.ravelry) { %>
              <a href="//ravelry.com/<%- contact.ravelry %>">🐑</a> <a href="//ravelry.com/<%- contact.ravelry %>"><%- contact.ravelry %></a>
              <br>
            <% } %>

            <% if(contact.twitter) { %>
              <a href="//twitter.com/<%- contact.twitter %>"><i class="fa fa-twitter"></i></a> <a href="//twitter.com/<%- contact.twitter %>"><%- contact.twitter %></a>
              <br>
            <% } %>

            <% if(contact.github) { %>
              <a href="//github.com/<%- contact.github %>"><i class="fa fa-github"></i></a> <a href="//github.com/<%- contact.github %>"><%- contact.github %></a>
            <% } %>
          </p>
        <% } %>
    </div>
  <% } %>
  </div>
</div>
<% } %>
