
<main>
  <div class="content">
    <div class="container">
        <% for(var fest in public.speakers._data) { %>
          <div class="row">
            <div class="col-xs-12 speakers-block text-xs-center">
              <h2 class="pt1">
                <% if (fest == 'node'){ %> CascadiaJS Node <% }
                else if (fest == 'browser') { %> CascadiaJS Browser <% }
                else if (fest == 'css') { %> CascadiaCSS <% } %> Day</h2>
              <h3 class="pb1">
                <% if (fest == 'node'){ %> August 5th <% }
                   else if (fest == 'browser') { %> August 4th <% }
                   else if (fest == 'css') { %> August 3rd <% } %></h3>
            </div>
          </div>
          <div class="row <%- fest %>-speakers-block pb1 pt1">

            <% for(var person in public.speakers._data[fest]) {
              var speaker = public.speakers._data[fest][person];
            %>
              <div class="col-sm-6 col-md-3">
                <div class="card <%- fest %>">

                  <img src="<%- speaker.avatar %>" alt="<%- speaker.name %>'s wonderful face">
                  <h4><%- speaker.name %></h4>
                </div>
              </div>
            <% } %>

        </div>
      <% } %>
    </div>

  </div>
</main>

<div class="col-xs-12 col-md-4 text-md-center theme css">
  <h3>August 3rd</h3>
  <h2>CascadiaCSS</h2>
</div>
<div class="col-xs-12 col-md-4 text-md-center theme browser">
  <h3>August 4th</h3>
  <h2>CascadiaJS Browser Day</h2>
</div>
<div class="col-xs-12 col-md-4 text-md-center theme node">
  <h3>August 5th</h3>
  <h2>CascadiaJS Node Day</h2>
</div>
