<main id="speakers">
  <div id="hero">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 text-xs-center center-block">
            <h1>Speakers</h1>
          </div>
        </div>
      </div>
  </div>

  <div class="content">
    <div class="container-fluid">
        <% for(var fest in public.speakers._data) { %>
          <div class="row">
            <div id="<%- fest %>-speakers" class="col-xs-12 <%- fest %>-header-block text-xs-center">
              <h2 class="pt1">
                <% if (fest == 'node'){ %> CascadiaJS Node <% }
                else if (fest == 'browser') { %> CascadiaJS Browser <% }
                else if (fest == 'css') { %> CascadiaCSS <% } %> Day</h2>
              <h4 class="pb1">
                <% if (fest == 'node'){ %> August 5th <% }
                   else if (fest == 'browser') { %> August 4th <% }
                   else if (fest == 'css') { %> August 3rd <% } %></h4>
            </div>
          </div>
          <div class="row <%- fest %>-speakers-block pb3 pt3 mb3">

            <div class="col-xs-10 push-xs-1 col-xl-8 push-xl-2">
              <div class="row">

                <% for(var person in public.speakers._data[fest]) {
                  var speaker = public.speakers._data[fest][person];
                %>
                  <div class="col-xs-10 push-xs-1 col-sm-6 push-sm-0 col-md-4 col-lg-3">
                    <div class="card <%- fest %> mb2">

                      <img src="<%- speaker.avatar %>" alt="<%- speaker.name %>'s wonderful face">
                      <h4><%- speaker.name %></h4>
                    </div>
                  </div>
                <% } %>

              </div>
            </div>

        </div>
      <% } %>
    </div>

  </div>
</main>
